# Dependabot configuration:
# https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Maintain dependencies for Gradle dependencies
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      kotlin:
        patterns:
          - "*"
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      gha:
        patterns:
          - "*"
  # Maintain dependencies for npm in lineage-panel
  - package-ecosystem: "npm"
    directory: "/lineage-panel"
    schedule:
      interval: "daily"
    groups:
      react:
        patterns:
          - "*"
