:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #272932;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

@keyframes rotateAndGrow {
  1% {
    transform: scale(1.35) rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

.active {
  animation: rotateAndGrow 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  border: 0;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.dbt-model-node:active {
  transform: scale(1.35) rotate(-5deg);
  transition: transform 0.3s ease;
  z-index: 1;
}

.dbt-model-node {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  background-color: #E9E3E6;
  border: 0;
  transform: scale(1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.node-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  padding: 8px;
  font-size: 8px!important;
  color: #FFF;
  background-color: #4D7EA8;
}

.icon-box.icon {
  max-height: 14px;
}

.icon-box.title {
  font-size: 8px;
}

.dbt-model-title {
  padding-left: 8px;
}

.react-flow__handle {
  visibility: hidden;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.react-flow__node:hover {
  z-index: 2;
}
.react-flow__node-default:hover {
  .ellipsis {
    overflow: visible;
    max-width: none;
  }
}

.react-flow__node-default.width-auto:hover {
  width: auto;
}